extends ../layout

block content
    div(class="row")
        div(class="col-md-6 col-md-offset-3")
            div(class="panel panel-default")
                div(class="panel-heading")= title
                form(action="/login", method="POST")
                    div(class="panel-body")
                        if login && !err_code
                            div(class="alert alert-success")
                                p Udało się zarejestrować użytkownika #{login}. Możesz się teraz zalogować.

                        if err_code
                            div(class="alert alert-danger")
                                if err_code === '1'
                                    p Proszę uzupełnić wszystkie pola.
                                if err_code === '2'
                                    p Użytkownik o #{login} nie istnieje.
                                if err_code === '3'
                                    p Nieprawidłowe hasło.

                        div(class="form-group")
                            label Login:
                            input(type="text", class="form-control", name="login", minlength="6", maxlength="32", value=login required)
                        div(class="form-group")
                            label Hasło:
                            input(type="password", class="form-control", name="password", minlength="6", maxlength="32", required)
                    div(class="panel-footer text-right")
                        button(class="btn btn-primary btn-sm", type="submit") Zaloguj