.error {
  color: red;
}

.top25 {
  margin-top: 25px;
}

nav.navbar.navbar-default{
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main > *:first-child{
  margin-top: 64px;
}

.navbar-header {
  font-weight: bolder;
}

.navbar-header i {
  width: 30px;
}

.nav.navbar-nav i {
  width: 20px;
}

.nav.navbar-nav img {
  width: 22px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid;
}

.btn i {
  margin-right: 5px;
}

.fa.fa-no-margin{
  margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: #3e3e3e;
}

.tweet textarea{
  resize: none;
}

.user img,
.tweet img {
  width: 100%;
}

.tweet .btn.btn-danger.btn-xs i{
  margin: 0 auto;
}

.tweet .btn.btn-danger.btn-sm{
  margin-left: 10px;
}

.row.tweet .panel-heading img{
  width: 42px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid;
  float: left;
}

.row.tweet .panel-footer.comments img{
  width: 22px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid;
  float: left;
}